body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 100%;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.clear-btn{
    color: black;
    background-color: hsl(0, 0%, 85%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
.scientific-btn{
    font-size: 2vw;
    background-color: hsl(0, 0%, 20%);
}
.scientific-btn:hover{
    background-color: hsl(0, 0%, 40%);
}
.scientific-btn:active{
    background-color: hsl(0, 0%, 50%);
}
.zero-btn{
    grid-row: 5;
    grid-column: 7 /span 2;
    width: 200px;
}
.expand-container {
    position: relative;
    right: 0;
    display: inline-block;
  }

.expand-text {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: max-content;
    right: 0;
    padding: 10px;
}
.expanded-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 120px;
    display: none;
    position: relative;
    bottom: 0;
    padding: 1px;
}
.expand-text:hover .expanded-content {
    display: block;
}

.credits {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    text-align: right;
}
